{% extends 'teacher/query_result.html'%}
{%block block_55%}
    <script type="text/javascript">
        $(function () {
            $.get('/see_testfileshandle',function (dict) {
                $.each(dict.data,function (index,item) {
                    $('#tb').append('<tr style="text-align: center;border: 1px solid #e5e5e5;height: 30px">\n' +
                        '        <td style="width: 200px">'+item.id+'</td>\n' +
                        '        <td style="width: 200px">'+item.testname+'</td>\n' +
                        '        <td style="width: 200px">'+item.name+'</td>\n' +
                        '        <td style="width: 200px">'+item.sub_time+'</td>\n' +
                        '        <td style="width: 200px">'+item.adjust_class+'</td>\n' +
                        '        <td style="width: 200px"><a href="/download/'+item.saveaddress+'/'+item.testname+'/">下载</a>&nbsp;&nbsp;<a href="/td_testfiles/'+item.id+"/"+'">删除</a></td>\n' +
                        '    </tr>')
                })
            })
        })
    </script>
    {%endblock%}
{%block block_100%}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#togglemenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">IMysql</a>

            </div>
            <div class="collapse navbar-collapse" id="togglemenu">
                <ul class="nav navbar-nav navbar-right"><!--定义导航中的菜单-->
                    <li class="active"><a href="/thomepage">欢迎您,&nbsp{{s_uname}}</a></li>
                    <li><a href="">帮助</a></li>
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="/enter">退出</a></li>
                </ul>
            </div>

    </div>
</nav>
{%endblock%}
{%block block_32%}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;&lt;&nbsp;<a href="javascript:history.back();">返回</a>
<form class="navbar-form navbar-right" action="/query_testfiles" method="post">
    {% csrf_token %}
                <div class=" form-group"><!--表单组，包括表单文字和表单控件-->
                   <div class="input-group"><!--输入框组,即表单控件组-->
                       <input type="text" name="practicename" id="practicename" placeholder="请输入题库名称查询"  class="form-control">
                        <span class="input-group-btn">
                            <input type="submit" name="query" id="query" class="btn btn-default" VALUE="🔍">查询</input>
                        </span>

                    </div>
                </div>
            </form>
<div style="overflow: scroll;display: inline-block;width: 1200px;height: 500px;border: 1px solid black;position: absolute;top: 120px;left: 220px">
<table STYLE="border: 1px solid #e5e5e5;height: 30px" id="tb" name="tb" >
    <tr style="text-align: center;border: 1px solid #e5e5e5;height: 30px">
        <td style="width: 200px">提交序号</td>
        <td style="width: 200px">题库名称</td>
        <td style="width: 200px">所有者</td>
        <td style="width: 200px">发布时间</td>
        <td style="width: 200px">所适用班级</td>
        <td style="width: 200px">操作</td>

    </tr>

</table>



</div>
<br/>
<div style="background-color:whitesmoke;height:20px;position: fixed;bottom: 0px;left:0px;right:0px;text-align: center;z-index: 999;margin:auto">Copyright © 2018-2026 1340287344@qq.com</div>
</body>
{%endblock%}