<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <title>IMysql自动评测</title>
    <style type="text/css">
        a, a:link, a:hover, a:active, a:visited {
            text-decoration: none;
            color: #666;
        }
        a:hover {
            color: #259;
        }
        .testDIV{
            width: 520px;
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow:hidden;
        }

    </style>
    {%block block_1%}
    <script type="text/javascript">
        $(function () {
            containers=$('#containers')
            for(var i=1;i<=$('#pnum').val();i++) {
                $('#index').append('<li style="display: inline-block;list-style: none;text-align: center"><button id="'+i+'" value="'+i+'">' + i + '</button></li>&nbsp;')
            }
             var jgl = $('#pnum1').val()

            var buttons=$('#index li button')

            $('#lastpage').click(function () {
                if(jgl==1){
                     window.location.href = '/shomepage/1'
                }
                else {
                    jgl=parseInt(jgl)-1
                     window.location.href = '/shomepage/'+jgl+''
                }
            })
            $('#nextpage').click(function () {
                if(jgl==buttons.length){
                    window.location.href = '/shomepage/'+buttons.length+''
                }
                else {
                    jgl=parseInt(jgl)+1
                     window.location.href = '/shomepage/'+jgl+''
                }
            })
            for(var i=0;i<buttons.length;i++) {
                (function (i) {
                    buttons[i].onclick=function () {
                         i+=1
                        window.location.href = '/shomepage/' + i + ''
                    }
                })(i)
            }
            $.get('/get_question/'+jgl+'',function (dict) {
             $.each(dict.data,function (index,item) {
                 containers.append('<br/>\n' +
                     '    <div style="border-top:1px solid  #e5e5e5;border-bottom: 1px solid #e5e5e5;height: auto;width: 650px;display: inline-block">\n' +
                     '        <div style="display: inline-block;width: 100px;float: left;padding-top: 10px">\n' +
                     '            <div style="width: 50px;height: 50px;border-radius: 50%;">\n' +
                     '                <a><img style="width: 50px;height: 50px;border-radius: 50%;" src="'+item.icon_address+'" alt="icon"></a>\n' +
                     '            </div>\n' +
                     '            <div>'+item.author_name+'</div>\n' +
                     '        </div>\n' +
                     '        <div style="display: inline-block">\n' +
                     '            <a href="/squestiondetail/'+item.id+'"><h3><div>'+item.question_title+'</div></h3></a>\n' +
                     '            <div>'+item.sub_time+'</div>\n' +
                     '            <br/>\n' +
                     '            <div class="testDIV" >'+item.questions_content+'</div>\n' +
                     '            <br/>\n' +
                     '            <div style="display: inline-block;"><a href="/attention/'+item.id+'/">+关注</a></div>\n' +
                     '            &nbsp;&nbsp;\n' +
                     '            <div style="display: inline-block;">关注量：'+item.attentions_number+'</div>\n' +
                     '            &nbsp;&nbsp;\n' +
                     '            <div style="display: inline-block;">回答量：'+item.answers_number+'</div>\n' +
                     '        </div>')
             })
         })
        })
    </script>
    {%endblock%}
</head>
<body>
{%block block_55%}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#togglemenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">IMysql</a>

            </div>
            <div class="collapse navbar-collapse" id="togglemenu">
                <ul class="nav navbar-nav navbar-right"><!--定义导航中的菜单-->
                    <li class="active"><a href="/shomepage">欢迎您,&nbsp{{s_uname}}</a></li>
                    <li><a href="#">帮助</a></li>
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="/enter">退出</a></li>
                </ul>
            </div>

    </div>
</nav>

<div style="display: inline-block;background-color: black;height:1000px;width: 200px;margin: -20px auto">
    <br />

    <ul>
        <li><a href="/shomepage">首页</a></li>
        <br />
        <li><a href="/get_practice">我的练习</a></li>
        <br />
        <li><a href="/see_testfiles">题库</a></li>
        <br />
        <li><a href="/info">个人主页</a></li>
        <br />
        <li><a href="/sqlknowledge">数据库知识点</a></li>
    </ul>
</div>
{% endblock %}
{% block block_11%}
<div class="container-fluid" style="position: absolute;top: 90px;left: 220px" >
    <strong>最热问题</strong>

    <div id="containers" name="containers"></div>
    <br/>
    <ul name="index" id="index" style="display: block;overflow: hidden;white-space: nowrap">
        <li style="display: inline-block;list-style: none;text-align: center"><a id="lastpage">上一页</a></li>
        <li style="display: inline-block;list-style: none;text-align: center"><a type="button" id="nextpage">下一页</a></li>
    </ul>
    &nbsp;<input id="pnum" value="{{b}}" style="display: none"></input>
    &nbsp;<input id="pnum1" value="{{index1}}" style="display: none"></input>
    <div style="display: inline-block;position: absolute;top:45px;left:700px;width: 150px ;height: 600px;">

        <ul style="text-align: center;border: 1px solid #e5e5e5;line-height:30px  ">
            <li style="list-style: none;border-bottom:1px solid #e5e5e5 "><a href="/s_question">提问</a></li>
            <li style="list-style: none;border-bottom:1px solid #e5e5e5 "><a href="/shomepage">热门问题</a></li>
            <li style="list-style: none;border-bottom:1px solid #e5e5e5 "><a href="/sget_newquestion">最新问题</a></li>
            <li style="list-style: none;border-bottom:1px solid #e5e5e5"><a href="/sget_attentions">我关注的问题</a></li>
            <li style="list-style: none;border-bottom:1px solid #e5e5e5"><a href="/sget_myanswer">我回答的问题</a></li>
            <li style="list-style: none;border-bottom:1px solid #e5e5e5"><a href="/sget_myquestion">我的提问</a></li>
        </ul>
    </div>

</div>

{% endblock %}
<div style="background-color:whitesmoke;height:20px;position: fixed;bottom: 0px;left:0px;right:0px;text-align: center;z-index: 999;margin:auto">Copyright © 2018-2026 1340287344@qq.com</div>
</body>
</html>